.new-incomes{
    display: flex;
    position: relative;
    .show-more{
        font-size: 12px;
        font-weight: 500;
        color: grey;
        border: none;
        background-color: rgba(0,0,0,.05);
        margin: 20px 20px;
        padding: 5px 20px;
        width: 120px;
    }
    .show-more:hover{
        color: black;
    }
    .click-slice{
        position: relative;
        .swiper-button-next{
            right: -875px;
        }
        .swiper-button-prev{
            left: 800px;
        }
    }
    .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        width: 233.8px;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
[class^=imghvr-] figcaption{
    background: #fff;
    padding: 0;
}
.info{
    text-align: center;
}
.icon{
    position: relative;
    .heart{
        position: absolute;
        left: 10px;
        bottom: 10px;
        height: 32px;
        min-width: 32px;
        border-radius: 16px;
        z-index: 2;
        display: block;
        float: right;
        max-width: 22px;
        padding: 0 32px 0 0;
        box-sizing: border-box;
        -webkit-transition: max-width 0.4s ease-in-out;
        background-color: #bca9a3;
        i{
            position: absolute;
            font-size: 20px;
            line-height: 32px;
            color: #fff;
            margin: 0;
            top: 2px;
            left: 6px;
            width: 100%;
        }
    }
}
.buy{
    position: relative;
    .shopping-bag{
        position: absolute;
        right: 10px;
        bottom: 10px;
        height: 32px;
        min-width: 32px;
        border-radius: 16px;
        z-index: 2;
        display: block;
        float: right;
        max-width: 22px;
        padding: 0 32px 0 0;
        box-sizing: border-box;
        -webkit-transition: max-width 0.4s ease-in-out;
        background-color: #bca9a3;
        float: right;
        
        i{
            position: absolute;
            font-size: 20px;
            line-height: 32px;
            color: #fff;
            margin: 0;
            top: 2px;
            left: 5px;
            width: 100%;
            display: flex;
            
            p{
                color: white;
                font-size: 12px;
                margin-left: 10px;
                display: none;
            }
        }
    }
    .shopping-bag:hover{
        padding-left: 80px;
        transition: 0.5s ease-in-out;
            p{
                display: block;
                transition: 0.5s ease-in-out;
            }
    }
}

