.fashionstore img{
width: 288px;
}
.bg-icon {
background:#bca9a3;
font-size: 20px;
padding:0px 2px 5px 2px;
text-align: center;
}
.bg-icon:hover{
background:#000;
}
.fab{
text-align: center;
color:#fff;
width: 2em;
height: 3em; 
font-size:14px;
}
.folow{
padding:60px;
background:#f5f5f5;
}
.elementor-item:hover{
text-decoration: none;
color: #000;
}
.elementor-item{
font-family: "Poppins",Sans-serif;
    font-size: 14px;
    line-height: 1.3em;
text-decoration: none;
color: #666;
}
.col-md-2 li{
padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 7px;

list-style : none;
}
.button-ser .mail{
padding: 2px 12px;
font: normal 12px / 25px "Open Sans",Helvetica,Arial,Verdana,sans-serif;
}
.button-ser .sub{
border: 1px solid #000;
font-family: "Poppins",Sans-serif;
min-height: 33px;
text-transform: uppercase;
font-size: 10px;
}
.button-ser .sub:hover{
color:#fff;
background:#000;

}
.subs .zn-uppercase{
color: #000;
 font-family: "Poppins",Sans-serif;
 font-size: 14px;
 line-height: 1.5em;

}
.col-md-3 .subs{
 margin: 10px 0 0 0;
}
